.App {
  text-align: center;
}

ul{margin:0; padding:0;}

header{
  padding: 2em;
}

.review-list{
  display:flex;
  flex-wrap:wrap;
}

.review-card{
  background-color: #cccccc;
  background-image: linear-gradient(rgb(124, 193, 246), rgb(164, 96, 198));
  padding: 1em;
  margin: 1em;
  border-radius: 20px;

  max-width:300px;
}

img.review-icon{
  object-fit: cover;
  width:5em;
  height: 5em;
  border-radius:50%
}

span{
  padding-right: 1em;
}

h3{
  color:rgb(36, 41, 130);
}