.App {
  text-align: center;
}

ul,li{
  margin:0;
  padding:0;
  list-style: none;
}

.category-header{
  background-color: rgb(59, 59, 113);
  color: white;
  width: 80%;
  margin: auto;
  margin-top:0.5em;
  margin-bottom: 0.5em;
  padding: 0.5em;
  border-radius: 10px;;
}

.hamburger-react{
  margin:auto;
}

.burger-menu{
  width:0;
  height:0;
  overflow: hidden;
  left:0;
  bottom:0;
  margin:0;
}

.burger-menu.showMenu{
  width:100%;
  height:100%
}

li.category-menu {
  padding:0.5em;
}

header{
  padding: 2em;
}

.review-list{
  display:flex;
  flex-wrap:wrap;
}

.review-card{
  background-color: #cccccc;
  background-image: linear-gradient(rgb(124, 193, 246), rgb(164, 96, 198));
  padding: 1em;
  margin: 1em;
  border-radius: 20px;
  max-width:300px;
}

p.category-header{
  width:35%;
}

.review-page{
  background-color: #cccccc;
  background-image: linear-gradient(rgb(124, 193, 246), rgb(164, 96, 198));
  border-radius: 1em;
  padding: 2em;
  margin: 2em;
}

.review-body{
  background-color: white;
  padding: 1em;
  border-radius:1em;
}

.date{
  color:grey;
}

img.review-page-icon{
  object-fit: cover;
  width:10em;
  height:10em;
  border-radius: 50%;
}


img.review-icon{
  object-fit: cover;
  width:5em;
  height: 5em;
  border-radius:50%
}

span{
  padding-right: 1em;
}

h3{
  color:rgb(36, 41, 130);
}
.comment-list{
  margin-bottom:2em;
}
.comment{
  background-color: rgb(219, 219, 248);
  padding: 0.5em;
  width: 75%;
  display:flex;
  margin: auto;
  margin-top:1em;
  border-radius: 1em;
}
.comment-card-author{
margin-right:0.5em;
flex-grow:1;
}
.comment-card-date-vote{
flex-grow:1;
}
.comment-body{
flex-grow:4
}

